.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


bin/
obj/


*.pdb
*.exe
*.dll


*.cache
*.log


packages/


.idea/


.DS_Store
Thumbs.db

*.tmp
*.temp


.vs/NextClass/DesignTimeBuild/


.vs/NextClass/v17/
.vs/ProjectEvaluation/




bin/
obj/
out/
*.dll
*.exe


*.user
*.suo
*.userosscache
*.sln.docstates


.vscode/
*.code-workspace


*.vs/
*.vssscc
*.vsscc
*.dbmdl


*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json


*.log


*.tmp
*.temp
*.cache


.DS_Store
Thumbs.db


.idea/
*.sln.iml


**/obj/**/staticwebassets/
**/obj/**/staticwebassets.removed.txt
obj/
